body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Rubik', sans-serif;
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header{

  height: 175px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border-bottom: 2px solid white;
}

.header-logo{
  width: 250px;
  display: flex;
  align-self: center;
}

.socials{
  font-size: 25px;
  letter-spacing: 25px;
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 15px;
  
}

.header-title{
  font-size: 50px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.main-container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%; 
}

.contact-info{
  padding-left: 20px;
  grid-column: 1/4;
  grid-row: 1/6;
  font-size: 18px;
  font-weight: 300;
}

.options-header{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-p{
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;

  
}

.center-h{
  margin-bottom: 0;
  font-size: 45px;
  line-height: 15px;
  font-weight: 400;
}

.massage{
  grid-column: 2;
  padding: 90px;
  padding-top: 0;
  font-size: 20px;
  border-bottom: 2px solid white;
  font-weight: 300;
}

.balance{
  font-style: italic;
  font-size: 20px;
  color: gray;
  font-weight: 300;
  font-style: italic;
}

.massage-style{
  font-size: 30px;
  font-weight: 400;
}

.massage-type{
  font-size: 25px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
}

.massage-info{
  padding-left: 25px;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

.massage-list-header{
  font-size: 30px;
  margin-bottom: 0;
  font-weight: 400;
}

.reiki-image{
  grid-column: 1;
  width: 100%;
  grid-row: 3;
  display: flex;
  align-self: center;
}

.tarot-image{
  grid-column: 1;
  grid-row: 4;
  width: 100%;
  display: flex;
  align-self: center;
}

.massage-image{
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  display: flex;
  align-self: center;
}

.contact{
  grid-column: 1/4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkboxes{
  grid-column: 3;
  grid-row: 2;
  display: grid;


}

.input-field{
  width: 280px;
  height: 40px;
  display: flex;
  justify-self: center;
  margin-bottom: 15px;
}

.request-form{
  display: grid;
  grid-template-columns: 300px 300px 200px;
  margin-top: 20px;
}

#request1{
  grid-column: 1;
  grid-row: 1;

}

#request2{
  grid-column: 2;
  grid-row: 1;
}

#request3{
  grid-column: 1;
}

.input-message{
  grid-row: 4;
  grid-column: 1/3;
  height: 150px;
  
}

.submit{
  grid-row: 4;
  grid-column: 3;
  height: 40px;
  width: 80px;
  margin-left: 15px;
}

.input-checkbox1{
  grid-row: 1;
  
}

.input-checkbox2{
  grid-row: 2;
}

.input-checkbox3{
  grid-row: 3;
  
}

.footer-container{
  display: flex;
  border-top: 2px solid white;
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.footer-socials{
  display: flex;
  flex-direction: row;
}

#checkbox{
  margin-left: 15px;
}

.prices{
  font-style: italic;
  font-weight: 300;
}

.priceHeader{
  font-weight: 400;
}

.price-container{
  display: flex;
  flex-direction: column;
}


.footer-insta{
  margin-left: 5px;
}

.request-container{
  display: flex;
  flex-direction: column;
}

.thanks-message{
  font-size: 20px;
}